.git
.env
.mypy_cache
.pre-commit-cache
.pytest_cache
.ruff_cache
.uv-cache
.uv-venv
.venv
__pycache__
*.pyc
*.sock
coverage.xml
.coverage
client/main/css/main.css
client/main/js/enums.js
client/main/js/main.js
client/stats/css/stats.css
client/stats/data
dist
lib
node_modules
