/client/main/css/main.css
/client/main/js/enums.js
/client/main/js/main.js*
/client/stats/css/stats.css
/client/stats/data
/dist
/lib
/node_modules
/__pycache__/
*.py[cod]
/tests/__pycache__/
/server/__pycache__
/uv-cache
/.uv-cache
/.uv-venv
/uv.lock.tmp
/venv
/.venv
/.mypy_cache
/.pre-commit-cache
/.pytest_cache
/.ruff_cache
/.coverage
/coverage.xml
/.env
/.vscode
